@font-face {
    font-family: omotion;
    src: url(/fonts/omotionvhs.otf) format(opentype);
}

@font-face {
    font-family: alexandria;
    src: url(/fonts/alexandria.ttf) format(truetype);
}

html, body {
    height: 100%;
    /* margin: 0; */
  }

body {
    background-color: #ecf8fe;
    transition: background-color 1s; /* for darkmode */
}

p {
    color: #010d13;
}

/* darkmode styling */
body.dark {
    background-color: #000;
    color: #ffffff;

}

.dark img {
    filter: invert(1);
}

.dark p {
    color: #fff;
}

/* header section */
div.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
}

p.bvndls {
    font-family: omotion;
    font-size: 50px;
    /* margin: 0; */
}

img.darkmode {
    width: 40px;
    height: 40px;
}

/* main section */
div.stubtext {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

p.stubtext {
    font-family: alexandria;
    font-size: 50px;
    white-space: pre-line;
    text-align: center;
    /* margin: 0; */
}

/* footer section */
div.footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    height: 5vh;
}

a.footer_svg {
    width: 50px;
    height: 50px;
}

img.footer_svg {
    width: 50px;
    height: 50px;
}