@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: alexandria;
    src: url(/src/fonts/alexandria.ttf);
}

@font-face {
    font-family: omotion;
    src: url(/src/fonts/omotionvhs.otf);
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    #footer {
      position: sticky;
      bottom: 0;
    }
    body {
        overflow: hidden;
    }
  }