@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: alexandria;
    src: url(/src/fonts/alexandria.ttf);
}

@font-face {
    font-family: omotion;
    src: url(/src/fonts/omotionvhs.otf);
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    #footer {
      position: sticky;
      bottom: 0;
    }
    body {
        overflow: hidden;
    }
  }

/* arc styling */
.arc .arc\:foregroundPrimary {
    @apply bg-foregroundPrimary;
  }

.arc .arc\:bg-hover {
    @apply bg-hover;
  }

.arc .arc\:hover\:bg-focus {
    @apply hover:bg-focus;
  }
/* add custom arc styles here */